<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.mapper.EmailMapper">
    <insert id="sendMail">
        DECLARE
        v_id varchar2(50);
        begin
        select sys_guid() into v_id from dual;
        insert into APP_EMAIL (ID, HFID, FJRYHM,
          FJRXM, SJRYHM, SJRXM,
          SFYJS, XMBH, XMMC,
          ZT, ZWNR, BZ,BCID,LB,FJRID,SJRID)
        values (#{ID}, #{HFID,jdbcType=VARCHAR}, #{FJRYHM,jdbcType=VARCHAR},
          #{FJRXM,jdbcType=VARCHAR}, #{SJRYHM,jdbcType=VARCHAR}, #{SJRXM,jdbcType=VARCHAR},
          #{SFYJS,jdbcType=VARCHAR}, #{XMBH,jdbcType=VARCHAR}, #{XMMC,jdbcType=VARCHAR},
          #{ZT,jdbcType=VARCHAR}, #{ZWNR,jdbcType=VARCHAR},
          #{BZ,jdbcType=VARCHAR},#{BCID,jdbcType=VARCHAR},#{LB,jdbcType=VARCHAR},#{FJRID,jdbcType=VARCHAR},#{SJRID,jdbcType=VARCHAR});
          insert into APP_EMAIL_ATTACH ( EID, PATH)
        values ( #{ID}, #{PATH,jdbcType=VARCHAR});
        commit;
          end;
    </insert>

    <insert id="sendAttach">
        insert into APP_EMAIL_ATTACH (ID, EID, PATH)
        values (#{id,jdbcType=VARCHAR}, #{eid,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR})
    </insert>
    <update id="replyMail">
        DECLARE
        v_id varchar2(50);
        begin
        select sys_guid() into v_id from dual;
        insert into APP_EMAIL (ID, HFID, FJRYHM,
          FJRXM, SJRYHM, SJRXM,
          SFYJS, XMBH, XMMC,
          ZT, ZWNR, BZ,BCID)
        values (v_id, #{HFID,jdbcType=VARCHAR}, #{FJRYHM,jdbcType=VARCHAR},
          #{FJRXM,jdbcType=VARCHAR}, #{SJRYHM,jdbcType=VARCHAR}, #{SJRXM,jdbcType=VARCHAR},
          #{SFYJS,jdbcType=VARCHAR}, #{XMBH,jdbcType=VARCHAR}, #{XMMC,jdbcType=VARCHAR},
          #{ZT,jdbcType=VARCHAR}, #{ZWNR,jdbcType=VARCHAR},
          #{BZ,jdbcType=VARCHAR},#{BCID,jdbcType=VARCHAR});
          insert into APP_EMAIL_ATTACH ( EID, PATH)
        values ( v_id, #{PATH,jdbcType=VARCHAR});
        commit;
          end;
    </update>
    <update id="readed">
        update APP_EMAIL set isread=1 where id=#{ID}
    </update>
    <delete id="delete">
        update APP_EMAIL set isdel=1 where id=#{ID}
    </delete>


    <select id="getMailList" resultType="java.util.HashMap">
        select * from APP_EMAIL where (FJRID=#{USERID} or SJRID=#{USERID}) and isdel!=1
        <if test="ID!='' and ID!=null">
          and  id=#{ID}
        </if>
    </select>
    <select id="getMailAList" resultType="java.util.HashMap">
        select * from APP_EMAIL_ATTACH where eid=#{ID}
    </select>
    <select id="getMailUList" resultType="java.util.HashMap">
        select * from APP_EMAIL where  isdel!=1 and SJRID=#{SJRID}
    </select>
    <select id="getMail1Attach" resultType="java.util.HashMap">
        select * from APP_EMAIL_ATTACH where eid=#{ID}
    </select>
    <select id="getMailList2_bak_20191227" resultType="java.lang.String">
        select id from APP_EMAIL where (FJRID=#{USERID} or SJRID=#{USERID}) and isdel!=1
    </select>
    <select id="getMailList2" resultType="java.lang.String">
        select id from APP_EMAIL where SJRID=#{USERID} and isdel!=1
    </select>

</mapper>