<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.mapper.FrameMapper">
    <select id="getPermission" resultType="java.util.Map" statementType="PREPARED">
        select t.value from SYS_PERMISION_MAP t where t.name=#{key}
    </select>
</mapper>