<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.mapper.PermisionMapper">

    <select id="getDeptList" resultType="java.util.HashMap">
        <include refid="com.base.baseMapper.pageStart"/>
        select t.dwmc,t.dwdm,t.lxr,t.lxr_dh,t.bz,(select id from sys_office where code=t.dwdm||'00') id,
        sfqy,decode(sfqy,'1','启用','未启用') sfqymc,
        to_char(createtime,'yyyymmdd hh24:mi:ss') createtime from app_dept t where isdel='0'
        order by createtime desc
        <include refid="com.base.baseMapper.pageEnd"/>
    </select>

    <select id="getUserList" resultType="java.util.HashMap">
        <include refid="com.base.baseMapper.pageStart"/>
        select r.userid,
            r.username,
            r.loginname,
            r.pwd,
            r.upwd,
            r.gddh,
            r.yddh,
            r.dw,
            r.sfqy,
            decode(sfqy, '1', '启用', '未启用') sfqymc,
            r.fpz,
            r.email,
            r.bzxx,
            (select b.id
            from SYS_USERROLE a, V_OFFICE b
            where  b.code like '%00'
            and length(b.code)=6
            and a.userid = r.userid
            and a.roleid = b.id ) admin,
             (select o.rtname from v_office o,sys_userrole u where o.id= u.ROLEID 
            and type = '2'
            and u.USERID = r.USERID) pzdw,
        (select b.parent_name
        from SYS_USERROLE a, V_OFFICE b
        where  b.code like '%00'
        and length(b.code)=6
        and a.userid = r.userid
        and a.roleid = b.id ) adminmc,
            to_char(createtime, 'yyyymmdd hh24:mi:ss') createtime
        from app_user r
        where isdel = '0' and r.userid!='1'
        <if test="c1 != null">
            and (r.username like '%'||#{c1}||'%' or r.loginname like '%'||#{c1}||'%')
        </if>
        order by createtime desc
        <include refid="com.base.baseMapper.pageEnd"/>
    </select>
    <select id="getUserList2" resultType="java.util.HashMap">
        <include refid="com.base.baseMapper.pageStart"/>
        select r.userid,r.username,r.loginname,r.pwd,r.upwd,r.gddh,r.yddh,r.dw,r.sfqy,
        decode(sfqy,'1','启用','未启用') sfqymc,
        (select b.id
            from SYS_USERROLE a, V_OFFICE b
            where  b.code like '%00'
            and length(b.code)=6
            and a.userid = r.userid
            and a.roleid = b.id ) admin,
             (select o.rtname from v_office o,sys_userrole u where o.id= u.ROLEID 
            and type = '2'
            and u.USERID = r.USERID) fpz
        
        ,r.email,r.bzxx,
        to_char(createtime,'yyyymmdd hh24:mi:ss') createtime,
        nvl((select 1 from sys_userrole where userid=r.userid and roleid=#{id}),2) status
        from app_user r
        where isdel='0'
        <if test="c1 != null">
            and r.username like '%'||#{c1}||'%'
        </if>
        order by createtime desc
        <include refid="com.base.baseMapper.pageEnd"/>
    </select>
    <select id="getUserListD" resultType="java.util.HashMap">
        <include refid="com.base.baseMapper.pageStart"/>
        select r.userid,
            r.username,
            r.loginname,
            r.pwd,
            r.upwd,
            r.gddh,
            r.yddh,
            r.dw,
            r.sfqy,
            decode(sfqy, '1', '启用', '未启用') sfqymc,
            r.fpz,
            r.email,
            r.bzxx,
        (select b.id
        from SYS_USERROLE a, V_OFFICE b
        where b.type in ('1','2','3') and a.userid = r.userid
        and a.roleid = b.id) admin,
        (select b.name
        from SYS_USERROLE a, V_OFFICE b
        where b.type in ('1','2','3') and a.userid = r.userid
        and a.roleid = b.id) adminmc,
        to_char(createtime, 'yyyymmdd hh24:mi:ss') createtime
        from app_user r
        where isdel = '0'
        and r.userid != '1'
        and r.userid != '2'
        and r.userid !=#{userid}
        and (exists
        (select 1
        from SYS_USERROLE s, v_office t
        where r.userid = s.userid
        and s.roleid = t.id
        and t.rt = #{dwdm}) or not exists
        (select 1
        from SYS_USERROLE s, v_office t
        where r.userid = s.userid
        and s.roleid = t.id
        and t.rt != #{dwdm}
        and t.type in ('1', '2', '3')))
        <if test="c1 != null">
            and r.username like '%'||#{c1}||'%'
        </if>
        order by createtime desc
        <include refid="com.base.baseMapper.pageEnd"/>
    </select>
    <select id="getourUserList" resultType="java.util.HashMap">
        <include refid="com.base.baseMapper.pageStart"/>
        select r.userid,
                r.username,
                r.loginname,
                r.pwd,
                r.upwd,
                r.gddh,
                r.yddh,
                r.dw,
                r.sfqy,
                decode(sfqy, '1', '启用', '未启用') sfqymc,
                r.fpz,
                r.email,
                r.bzxx,
                (select b.id
                from SYS_USERROLE a, V_OFFICE b
                where b.type in ('1','2','3') and a.userid = r.userid
                and a.roleid = b.id) admin,
                (select b.name
                from SYS_USERROLE a, V_OFFICE b
                where b.type in ('1','2','3') and a.userid = r.userid
                and a.roleid = b.id) adminmc,
                to_char(createtime, 'yyyymmdd hh24:mi:ss') createtime
                from app_user r
                where isdel = '0'
                and r.userid != '1'
                and r.userid != '2'
                and r.userid !=#{userid}
                and exists
                (select 1
                from SYS_USERROLE s, v_office t
                where r.userid = s.userid
                and s.roleid = t.id
                and t.rt = #{dwdm})
                <if test="c1 != null">
                   and r.username like '%'||#{c1}||'%'
                </if>
                order by createtime desc
        <include refid="com.base.baseMapper.pageEnd"/>
    </select>


    <update id="saveDeptList">
        DECLARE
        v_id varchar2(100):='';
        v_code varchar2(100):='';
        BEGIN
        <foreach collection="list" item="record" index="index">
            v_code:=SEQ_DWDM.NEXTVAL;
            merge into app_DEPT a using (select #{record.DWDM} dwdm,#{record.DWMC} dwmc,
            #{record.LXR} lxr,#{record.LXR_DH} lxr_dh,#{record.SFQY} sfqy,#{record.BZ} bz from dual) b
            on (a.DWDM= b.DWDM)
            when matched then update set A.DWMC=b.dwmc,A.LXR=lxr,A.LXR_DH=lxr_dh,A.SFQY=sfqy,A.BZ=bz
            when not matched then
            insert (a.DWDM,a.dwmc,a.lxr,a.lxr_dh,a.sfqy,a.bz)
            values(v_code,b.dwmc,b.lxr,b.lxr_dh,b.sfqy,b.bz);
            select sys_guid() into v_id from dual;
            merge into sys_office a using (select #{record.DWDM} dwdm,#{record.DWMC} dwmc from dual) b
            on (a.code=b.dwdm)
            when matched then update set a.name=b.dwmc
            when not matched then insert (id,parent_id,name,code,useable,del_flag,type)
            values(v_id,'0',b.dwmc,v_code,1,0,1);
            merge into sys_office a using (select v_code||'00' dwdm,'管理员组' dwmc from dual) b
            on (a.code=b.dwdm)
            when not matched then insert (id,parent_id,name,code,useable,del_flag,type)
            values(sys_guid(),v_id,b.dwmc,b.dwdm,1,0,2);
            merge into sys_office a using (select v_code||'01' dwdm,'全部用户组' dwmc from dual) b
            on (a.code=b.dwdm)
            when not matched then insert (id,parent_id,name,code,useable,del_flag,type)
            values(sys_guid(),v_id,b.dwmc,b.dwdm,1,0,2);
        </foreach>
        COMMIT;
        END;
    </update>

    <update id="saveUserList">
        DECLARE
        v_id varchar2(100):='';
        v_tt varchar2(50):='';
        BEGIN
        <foreach collection="list" item="record" index="index">
            <if test="record.ADMIN!=null and record.ADMIN!=''">
                delete from SYS_USERROLE t where userid=#{record.USERID} and exists (select 1 from v_office b where b.id=t.roleid and b.type in ('1','2','3'));
                insert into SYS_USERROLE (userid,roleid) values(#{record.USERID} ,#{record.ADMIN});
            </if>
            select sys_guid() into v_id from dual;
            merge into APP_USER a using (select #{record.USERID} userid,#{record.LOGINNAME} loginname,#{record.USERNAME} username,#{record.DW} DW,#{record.GDDH} GDDH,
            #{record.YDDH} YDDH,#{record.EMAIL} EMAIL,#{record.BZXX} BZXX , #{record.UPWD} UPWD,#{record.PWD} PWD,#{record.SFQY} SFQY
            from dual) b
            on (a.userid= b.userid)
            when matched then update set a.username=username,a.gddh=b.gddh,a.dw=b.dw,
            a.yddh=b.yddh,a.email=b.email,a.bzxx=b.bzxx,a.upwd=b.upwd,a.pwd=b.pwd,a.sfqy=b.sfqy
            when not matched then
            insert (userid,a.loginname,a.username,a.dw,a.gddh,a.yddh,a.email,a.bzxx,a.pwd,a.upwd,sfqy)
            values(v_id,b.loginname,b.username,b.dw,b.gddh,b.yddh,b.email,b.bzxx,'d34dd4b08cad8a66f68707c43a4b1b8b1e0d6485','d34dd4b08cad8a66f68707c43a4b1b8b1e0d6485',b.sfqy);
            <if test="record.USERID==null or record.USERID==''">
                insert into SYS_MYPAN(id,parent_id,name) values (v_id,0,'个人空间');
            </if>
            select id into v_tt from SYS_OFFICE where code='999911';
            merge into SYS_USERROLE a using (select v_id userid,v_tt roleid from dual ) b
            on (a.userid=b.userid and b.roleid=b.roleid)
            when not matched then
            insert (a.userid,a.roleid) values (b.userid,b.roleid);
        </foreach>
        COMMIT;
        END;
    </update>
    <update id="deteleDept">
        DECLARE
        v_id varchar2(100):='';
        BEGIN
        <foreach collection="list" item="record" index="index">
            update app_dept set isdel='1'  where dwdm=#{record.DWDM};
            update sys_office set del_flag='1' where code like #{record.DWCM}||'%';

        </foreach>
        COMMIT;
        END;
    </update>

    <update id="delUserlist">
        DECLARE
        v_id varchar2(100):='';
        BEGIN
        <foreach collection="list" item="record" index="index">
            update app_user set isdel='1'  where userid=#{record.USERID};
        </foreach>
        COMMIT;
        END;
    </update>
    <update id="assignUser">
        DECLARE
        v_id varchar2(100):='';
        BEGIN
        <foreach collection="list" item="record" index="index">
            merge into SYS_USERROLE a using (select #{id} roleid,#{record.USERID} userid from dual) b
            on (a.roleid=b.roleid and a.userid=b.userid)
            when not matched then
            insert (a.roleid,a.userid) values(b.roleid,b.userid);
        </foreach>
        COMMIT;
        END;
    </update>
    <update id="qyUserlist">
        DECLARE
        v_id varchar2(100):='';
        BEGIN
        <foreach collection="list" item="record" index="index">
            update app_user set sfqy='1'  where userid=#{record.USERID};
        </foreach>
        COMMIT;
        END;
    </update>
    <update id="tyUserlist">
        DECLARE
        v_id varchar2(100):='';
        BEGIN
        <foreach collection="list" item="record" index="index">
            update app_user set sfqy='0'  where userid=#{record.USERID};
        </foreach>
        COMMIT;
        END;
    </update>
    <update id="assignUserGly">
        DECLARE
        v_id varchar2(100):='';
        v_ct number(2):=0;
        v_dwrole varchar2(50):='';
        BEGIN
        <foreach collection="list" item="record" index="index">
           <![CDATA[
            select count(1) into v_ct from sys_userrole a,sys_office b
              where a.roleid=b.id and a.userid=#{record.USERID} and b.code like '%00' and length(b.code)=6;
            if v_ct >0 then
              raise_application_error(-20000, 'NEW_EMP::单位管理员重复设置');
            end if;
            select count(1) into v_ct from SYS_USERROLE a, V_OFFICE b
                 where b.type in ('1', '2', '3')
                   and a.userid = #{record.USERID}
                   and a.roleid = b.id;
            if v_ct>0 then
              raise_application_error(-20000, 'NEW_EMP::单位管理员重复设置');
            end if;
            merge into SYS_USERROLE a using (select #{id} roleid,#{record.USERID} userid from dual) b
            on (a.roleid=b.roleid and a.userid=b.userid)
            when not matched then
            insert (a.roleid,a.userid) values(b.roleid,b.userid);
            select id into v_dwrole from sys_office where code='999912';
            merge into SYS_USERROLE a using (select v_dwrole roleid,#{record.USERID} userid from dual) b
            on (a.roleid=b.roleid and a.userid=b.userid)
            when not matched then
            insert (a.roleid,a.userid) values(b.roleid,b.userid);
            ]]>
        </foreach>
        COMMIT;
        END;

    </update>
    <update id="saveUserListD">
        DECLARE
        v_id varchar2(100):='';
        v_tt varchar2(50):='';
        BEGIN
        <foreach collection="list" item="record" index="index">
            delete from SYS_USERROLE t where userid=#{record.USERID} and exists (select 1 from v_office b where b.id=t.roleid and b.type in ('1','2','3'));
            <if test="record.ADMIN!=null and record.ADMIN!=''">
                insert into SYS_USERROLE (userid,roleid) values(#{record.USERID} ,#{record.ADMIN});
            </if>
            select sys_guid() into v_id from dual;
            merge into APP_USER a using (select #{record.USERID} userid,#{record.USERNAME} username,#{record.DW} DW,#{record.GDDH} GDDH,
            #{record.YDDH} YDDH,#{record.EMAIL} EMAIL,#{record.BZXX} BZXX , #{record.UPWD} UPWD,#{record.PWD} PWD,#{record.SFQY} SFQY
            from dual) b
            on (a.userid= b.userid)
            when matched then update set a.username=username,a.gddh=b.gddh,
            a.yddh=b.yddh,a.email=b.email,a.bzxx=b.bzxx,a.upwd=b.upwd,a.pwd=b.pwd,a.sfqy=b.sfqy;
            <if test="record.USERID==null or record.USERID==''">
                insert into SYS_MYPAN(id,parent_id,name) values (v_id,0,'个人空间');
            </if>
            select id into v_tt from SYS_OFFICE where code='999911';
            merge into SYS_USERROLE a using (select v_id userid,v_tt roleid from dual ) b
            on (a.userid=b.userid and b.roleid=b.roleid)
            when not matched then
            insert (a.userid,a.roleid) values (b.userid,b.roleid);
            <if test="record.ADMIN==null or record.ADMIN==''">
                update app_object_bczbtree set deptid = null where userid = #{record.USERID};
            </if>
            <if test="record.ADMIN!=null and record.ADMIN!=''">
                update app_object_bczbtree set deptid=#{record.DEPTID} where userid = #{record.USERID};
            </if>
            
        </foreach>
        COMMIT;
        END;
    </update>
</mapper>